@model IEnumerable<ImageUploader.ViewModels.ImageVM>

@{
    ViewData["Title"] = "Uploaded Images";
}

@if (TempData["UploadResponseMsg"] != null)
{
    <div class="alert alert-danger" role="alert">
      @TempData["UploadResponseMsg"]
    </div>
}

<ul class="list-group">
    @if (Model != null && Model.Any())
    {
        foreach (var file in Model)
        {
            <li class="list-group-item">
                <img src="@file.FilePath"  width="50" height="50" />
                @file.FileName uploaded on @file.Created
                @Html.ActionLink("View", "View", new { Id = file.Id }) 
            </li>
        }
    }
    <li class="list-group-item">@Html.ActionLink("Upload New Image", "Upload")</li>
</ul>