@model ImageUploader.ViewModels.ImageVM

@{
    ViewData["Title"] = "Image";
}



@Html.ActionLink("View Images", "Index") 

@if (TempData["UploadResponseMsg"] != null)
{
    <div class="alert alert-success" role="alert">
      @TempData["UploadResponseMsg"]
    </div>
}

<div class="card">
    <div class="card-header">
        <h4>@Model.FileName uploaded on @Model.Created</h4>
    </div>
    <div class="card-body">
        <img src="@Model.FilePath" />
    </div>
</div>

